<html lang="en">
<head>

<script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
<script src="../static/scripts/CA.js"> </script>
<script src="../static/scripts/image-picker.js"> </script>
<!-- <script src="../static/scripts/masonry.js"> </script> -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/style/image-picker.css">


</head>



<body>


  {% block content %} 

  BLOCK

  {% endblock %}




</body>
















</html>