{% extends 'base.html' %}




{% block content %}



<h1> Eventually you will glitch pix here! </h1>

<a href = "/"> go back home </a>

<br>
<div id="thumbnails">
{% for image in images %}

<img src ="{{image.url}}" style="max-height: 100px;" onclick="$('img#largeImage').attr('src', '{{image.url}}' );">

{% endfor %}
</div>

<div id="fullsize">

<img id="largeImage" src="" style="max-width: 800px; max-height: 600px;">

</div>


<!-- <img id="newImage" src={{newImage}} style="max-width: 800px; display: none;"> -->


    
<button onclick="stepGOL()">step</button>
<button onclick="switchRun()">start/stop</button> <br>
    
<canvas  id="myCanvas" width="{{canvas_width}}" height="{{canvas_height}}" style="border:1px solid #d3d3d3;"> <!-- draggable="true" onclick= "changeCellsWithCursor"(document.getElementById('myCanvas'), (evt))"> -->
    Your browser does not support the HTML5 canvas tag.</canvas>



<!-- <script type="text/javascript" src="../static/scripts/CA.js"> -->
    <script>



//     window.onload = function() {
//     var canvas = document.getElementById("myCanvas");
//     var ctx = canvas.getContext("2d");

                
// };
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");

    


    var img = new Image();
    img.src = "{{oldImage}}";


    var overlayImg = new Image();
    overlayImg.src = "{{newImage}}";


    let mouseDown = false;

    let justChanged = []




    function changeCellsWithCursor(canvas, event) {

        var boundingRect = canvas.getBoundingClientRect();
        var x = Math.floor((event.clientX - boundingRect.left)/cellSize) +2; //+1;
        var y = Math.floor((event.clientY - boundingRect.top)/cellSize)+1;
        // var x = Math.floor((event.offsetX)/cellSize)+1;
        // var y = Math.floor((event.offsetY)/cellSize);


        // console.log("x: " + x + " y: " + y + " CM: " + getCell(x,y));

        let slot = y*matrixSize+x

        var eType = event.type

        if (eType == "click"){
                
                flipCell(x,y);
                displayRects(overlayImg)
             }


        if (mouseDown  && !justChanged.includes(slot)) {
                

                    // flipCell(x,y);

                    if (!event.shiftKey){
                      cellMatrix[x][y] = 1;  
                    }else{

                        cellMatrix[x][y] = 0; 
                    }
                    
                    justChanged.push(slot);
                    displayRects(overlayImg)




                // justChanged.push([x,y]);

                // console.log(justChanged);




        }

    }


    function changeCellWithClick(canvas, event){

        var boundingRect = canvas.getBoundingClientRect();
        var x = Math.floor((event.clientX - boundingRect.left)/cellSize)+1;
        var y = Math.floor((event.clientY - boundingRect.top)/cellSize);


     
        flipCell(x,y);
        displayRects(overlayImg)
    }
 

myCanvas.addEventListener("mousemove", function (e) { changeCellsWithCursor(myCanvas, e);});
myCanvas.addEventListener("click", function (e) { changeCellsWithCursor(myCanvas, e);});

myCanvas.addEventListener("mousedown", function(e) {isMouseDown(e)});
myCanvas.addEventListener("mouseup", function(e) {isMouseUp(e)});

function isMouseDown(event){


    mouseDown = true;
    return true;
}

function isMouseUp(event){

    mouseDown = false;
    justChanged = []
    return true;
}




    (function caLoop (i) {          
        setTimeout(function () {   

            if (willRun)
            {
                cellMatrix = gameOfLifeRound(cellMatrix);
            }

            ctx.drawImage(img, 0, 0, 800, 800);
            displayRects(overlayImg);

            ;

        if (--i) caLoop(i);      
        }, 100)
    })(5000);  


    function stepGOL(){

        cellMatrix = gameOfLifeRound(cellMatrix);
    }


    let willRun = false;

    function switchRun(){

        willRun = !willRun;

    }






</script>


{% endblock %}