{% extends 'base.html' %}




{% block content %}



<!-- <h1> Eventually you will glitch pix here! </h1> -->


<style>




.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 10px;   
    background: #fff;
    outline:    none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}



</style>



<br><br>
<div class="row">
    <div class="col-1 offset-1">
        <button onclick="switchRun()" id="startstop">start/stop</button> 
    </div>
    <div class="col-1">
        <button id="stepButton" alt="step through one generation of game of life" onclick="stepGOL()">step</button>
    </div>

    <div class="col-5" style="align-content: center;">     
        <!-- <label for="speedControl" id="speedLabel" style="display:none;">Speed</label>         -->
        <input type="range" min="1" max="1000" value="500" class="slider" id="speedControl" name="speedControl" label="speed" style="display:none">
    </div>

    <div class="col-2 offset-1">
        <button id="save" onclick="getURL()">save current state</button>
    </div>
</div>

<br>

<div class="row">
    <div class="col-2 offset-1" id="howto">
        Here you can either step through each generation of the Game of Life or just let it run. The slider bar controls the speed.
    </div>
    <div class ="col-md-6">   
        <canvas  id="myCanvas" width="{{canvas_width}}" height="{{canvas_height}}" style="border:1px solid #d3d3d3;"> <!-- draggable="true" onclick= "changeCellsWithCursor"(document.getElementById('myCanvas'), (evt))"> -->
        Your browser does not support the HTML5 canvas tag.</canvas>

    </div>
</div>
<!-- <script type="text/javascript" src="../static/scripts/CA.js"> -->
    <script>
    // if (Boolean("{{dogol}}"))   


    if ("{{dogol}}" == "True"){

                cellMatrix = populateBoard();

    }else{

        // $(".startstop").style.display = none;
        // $(".stepButton").style.display =none;
        var x = document.getElementById("stepButton");
        x.style.display = "none"
        var x = document.getElementById("startstop");
        x.style.display = "none"
        var x = document.getElementById("howto");
        x.innerHTML="This is your static glitched image!";
        var x = document.getElementById("save");
        x.innerHTML="save image"


        }



        // };
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");




        var img = new Image();
        img.src = "{{newImage}}";


        var overlayImg = new Image();
        overlayImg.src = "{{oldImage}}";


        let mouseDown = false;

        let justChanged = []


        var slider = document.getElementById("speedControl");

        let speed = 1000 - slider.value;

            // output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            // output.innerHTML = this.value;
            console.log(this.value);
            speed = 1000 - this.value;
        }






        function changeCellWithClick(canvas, event){

            var boundingRect = canvas.getBoundingClientRect();
            var x = Math.floor((event.clientX - boundingRect.left)/cellSize)+1;
            var y = Math.floor((event.clientY - boundingRect.top)/cellSize);



            flipCell(x,y);
            displayRects(overlayImg)
        }


        myCanvas.addEventListener("mousemove", function (e) { changeCellsWithCursor(myCanvas, e);});
        myCanvas.addEventListener("click", function (e) { changeCellsWithCursor(myCanvas, e);});

        myCanvas.addEventListener("mousedown", function(e) {isMouseDown(e)});
        myCanvas.addEventListener("mouseup", function(e) {isMouseUp(e)});

        function isMouseDown(event){


            mouseDown = true;
            return true;
        }

        function isMouseUp(event){

            mouseDown = false;
            justChanged = []
            return true;
        }




        (function caLoop (i) {          
            setTimeout(function () {   

                if (willRun)
                {
                    cellMatrix = gameOfLifeRound(cellMatrix);
                }

                ctx.drawImage(img, 0, 0, 800, 800);
                displayRects(overlayImg);

                ;

                if (--i) caLoop(i);      
                }, speed) //100)
        })(5000);  


        function stepGOL(){

            cellMatrix = gameOfLifeRound(cellMatrix);
        }


        let willRun = false;

        function switchRun(){

            willRun = !willRun;

            var x = document.getElementById("stepButton");
            if (x.style.display === "none") {
               x.style.display = "block";
           } else {
              x.style.display = "none";
          }
          x = document.getElementById("speedControl");
          if (x.style.display === "none") {
           x.style.display = "block";
        } else {
          x.style.display = "none";
        }
        x = document.getElementById("speedLabel");
        if (x.style.display === "none") {
           x.style.display = "block";
        } else {
          x.style.display = "none";
        }


        }


        function getURL(){
            let canvas = document.getElementById('myCanvas');
            let url = canvas.toDataURL();

            // return url;

            // console.log(dataURL);
            // window.open(canvas.toDataURL());

            var savefile = prompt("What would you like to save as? Be careful not to overwrite anything!", "myglitch");
            // saveAs(url, savefile + ".png");
            var a = document.createElement("a");
            a.href = url;
            fileName = url.split("/").pop();
            a.download = savefile;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            a.remove();
        }





</script>

<br><br>
{% endblock %}