{% extends 'base.html' %}



{% block content %}



<h1> Eventually you will glitch pix here! </h1>

<a href = "/"> go back home </a>

<br>





<h4> choose two images to glitch!</h4><br>
The first one you click will be the primary and the second will overlay. Or you can select just one to glitch just itself. Don't like any of these images? <a href="/uploadImage">Click here to upload your own.</a>

<br>
TODO: animation breaks things
<!---see the uneven distribution is a feature not a bug but for real that's how most glitches are anyhow-->



<form id ="imagechoices" name="imagechoices" action="/mainpage" method="POST">

<div style="height:400px; width:800px; overflow-y: scroll;">

<select class="image-picker masonry show-html" data-limit="2" multiple="multiple" name="imagelist" id="imagelist">
       {% for image in images %}
    <!-- <input type="radio" name="imagelist2" id="imagelist2" value='{{image.url}}'> {{image.url}} <br> -->

  
   
    <option data-img-src="{{image.url}}"  data-img-alt="{{image.url}}" value="{{image.url}}">  </option>


    {% endfor %}
</select>

</div>

    <input type="radio" name="glitchtype" value="grid"> grid <br>
    <input type="radio" name="glitchtype" value="pixely"> pixely <br>


    <input type="submit" value="submit">

</form>


<div id="dropzoneDiv">
  
  {{ dropzone.create(action_view='upload_image') }}

</div>






<script>



    $("select").imagepicker()

    $('.grid').masonry({
  // options...
  itemSelector: '.grid-item',
  columnWidth: 200
});




</script>


<script src="../static/scripts/dropzone.js"> 


var myDropzone = new Dropzone("div#dropzoneUpload", { url: "/imageUpload"});

$("div#dropzoneUpload").dropzone({ 
  url: "/imageUpload";
  acceptedFiles: 'image/*';
 });




</script>


{% endblock %}