{% extends 'base.html' %}



{% block content %}


<div class="row">
  <div class="col-6 offset-1">
    <h1> Glitch things  </h1>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-4" style="text-align: right;">
  <h4> choose one or two images to glitch</h4><br>
</div>
</div>
<div class="row"> 
  <div class="col-6 offset-4" style="text-align: right;">

Don't like any of these images? <a href="/uploadImage">Click here to upload your own.</a>
</div>
</div>






<form id ="imagechoices" name="imagechoices" action="/mainpage" method="POST">

<!-- <div style="height:400px; overflow-y: scroll;"> -->
  <div class="row">

  <div class="col-8 offset-2" style="height: 400px; overflow-y: scroll;">

<select class="image-picker masonry grid show-html" data-limit="2" multiple="multiple" name="imagelist" id="imagelist">
       {% for image in images %}
    <!-- <input type="radio" name="imagelist2" id="imagelist2" value='{{image.url}}'> {{image.url}} <br> -->

    <div class="grid-item grid-item--width2">
   
    <option data-img-src="{{image.url}}"  data-img-alt="{{image.url}}" value="{{image.url}}">  </option>

    </div>


    {% endfor %}
</select>

</div>

</div>
<div class="row">
  <div class="col-3 offset-1">

    <table>
      <tr>
        <td><input type="radio" name="glitchtype" value="pixely"> pixely </td><td><em>takes one or two</em> </td>
      </tr>
      <tr>
        <td><input type="radio" name="glitchtype" value="grid"> grid </td><td><em>one reccommended</em> </td>
      </tr>
      <tr>
        <td><input type="radio" name="glitchtype" value="shuffle"> shuffle </td><td><em> takes only one</em></td>
      </tr>
    </table>


</div>
<div class="col-3">
    <input type="checkbox" name="gameoflife" value="gameoflife"> Check to include Game of Life in the glitch

</div>
</div>
<div class="row">
  <div class="col-3 offset-1">
    <input type="submit" value="submit">
  </div>
</div>
</form>


<!-- w -->






<script>



    $("select").imagepicker()



var $grid = $('.grid').imagesLoaded( function() {
  // init Masonry after all images have loaded
  $grid.masonry({
    // options...
    itemSelector: '.grid-item',
    columnWidth: 200
  });
});



</script>


<script src="../static/scripts/dropzone.js"> 


var myDropzone = new Dropzone("div#dropzoneUpload", { url: "/imageUpload"});

$("div#dropzoneUpload").dropzone({ 
  url: "/imageUpload";
  acceptedFiles: 'image/*';
 });




</script>


{% endblock %}